<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "/" method = "POST">
        <header>
            <p style = "color:cadetblue; font-family:Impact; font-size:50px; line-height:0px">Essay Submission</p>
        </header>

        <h1><p style = "font-family:Trebuchet MS; font-size:30px">Name</p></h1>
        <textarea name = "name" rows = "3" cols = "50">Enter your name here.</textarea>
        
        <h1><p style = "font-family:Trebuchet MS; font-size:30px">Essay</p></h1>
        <textarea name = "essay" rows = "10" cols = "120">Copy your essay into this textbox.</textarea>
        
        <br>
        <br>
        <b><button type = "submit" style="color:slategray; font-family:Lucida Sans; font-size: 30px; height:60px; width: 250px">Submit</button></b>
    </form>
</body>
</html>